.Toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #232f3e;
    height: 60px;
    z-index: 50;
}

.ToolbarNav {
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 1rem;
}

.ToolbarLogo {
    margin-left: 1rem;
    
}

.ToolbarLogo a  {
    color: white;
    font-size: 32px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.Spacer {
    flex: 1;
}

.ToolbarSearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 1rem;
    box-sizing: border-box;
    height: 50px;
    width: 80%;
    max-width: 850px;
}

input {
    height: 90%;
    border: 0;
    padding: 0;
    border-radius: 10px;
}

input[type="text"] {
    font-size: 20px;
    color: gray;
    padding-left: 5px;
}

.Heart {
    margin-left: 1rem;
    cursor: pointer;
}

.ToolbarCart {
    padding: 0px 1rem;
    cursor: pointer;
}

.Heart:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  
@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(1px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-1px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(1px, 0, 0);
    }
}



