.Primary {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    height: 100vh;
}

@media screen and (max-width: 420px) {
    .Primary {
        flex-direction: column;
    }

    .LHS {
        margin-left: 0.5rem !important;
        margin-top: 2rem !important;
        width: 90% !important;
    }

    .RHS {
        margin-top: 0em !important;
        width: 90% !important;
    }
}

.LHS {
    margin-top: 4rem;
    width: 40%;
    margin-left: 2rem;
    margin-right: 2rem;
    z-index: 20;
}

.RHS {
    margin-top: 5em;
    padding-left: 1rem;
    width: 60%;
}

.RHS button {
    cursor: pointer;
    margin: 5px;
}

.RHS li {
    line-height: 26px;
}

.Title {
    padding: 10px 10px 0px 10px;
    font-weight: bold;
    font-size: 35px;
}

.Brand {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: gray;
}

.Des {
    width: 80%;
    padding: 10px;
}

.Price {
    padding: 10px;
    font-weight: bold;
    font-size: 20px;
}

