.Primary {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 60px;
}

@media screen and (max-width: 420px) {
    .Primary {
        align-items: center !important;
    }

    .MainTitle {
        flex-direction: column !important;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
        font-size: 25px !important;
        text-align: center !important;
        height: 80px !important;
    }

    .Nothing {
        flex-direction: column !important;
        margin-top: 30px !important;
        margin-bottom: 20px !important;
        font-size: 25px !important;
        text-align: center !important;
        width: 80% !important;
    }

    .Listing {
        height: 300px !important;
        flex-direction: column !important;
    }

    .Title {
        font-weight: 500 !important;
        font-size: 14px !important;
    }

    .ImgSec {
        height: 40% !important;
        width: 120px !important;
    }

    .Brand {
        font-weight: 500 !important;
        font-size: 12px !important;
    }

    .Price {
        font-weight: 500 !important;
        font-size: 11px !important;
    }

    .Spacing {
        flex: 0.7 !important;
    }
}

.MainTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 40px;
    color: gray;
    width: 100%;
}

.Nothing {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 160px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-size: 30px;
    color: red;
    width: 100%;
}

.Listing {
    height: 150px;
    width: 90%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid lightgray;
}

.ImgSec {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 300px;
}

.ImgSec img {
    max-height: 100%;
    max-width: auto;
    cursor: pointer;
}

.Rhs {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100%;
}

.Spacing {
    flex: 1;
}

.Title {
    padding: 10px 10px 0px 10px;
    font-weight: bold;
    font-size: 20px;
}

.Title:hover {
    color: green;
    cursor: pointer;
}

.Brand {
    padding: 5px 10px 5px 10px;
    font-weight: bold;
    font-size: 16px;
    color: gray;
}

.Description {
    padding: 10px;
}

.Price {
    padding: 10px;
    font-weight: bold;
}
